/* CSS Style for generic buttons*/


/* CSS Style for windows*/
window#mainWin {
	background-color: white;
}

/* CSS Style for notebook headers tabs*/
notebook#nb {
	border-width: 0px;
	background-color: white;
}

notebook#nb header tabs tab {
	box-shadow: 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-width: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right-color: black;
}

/* CSS Style for notebook headers tabs after pressed*/
notebook#nb header tabs tab:checked {
	font-size: 14px;
	font-weight: bold;
	color: white;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-width: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right-width: 0px;
	border-right-color: black;
}

/* CSS Style for notebook headers tabs on hover*/
notebook#nb header tabs tab:hover {
	font-size: 14px;
	font-weight: bold;
	color: white;
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
	border-width: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
